body{font-family: 'Times New Roman', Times, serif;
font-size: 24px;
} 
header {
  display: flex;
  align-items: left;
  justify-content: space-around;
  gap: 30px;
}
.container{
  margin:80px 25px;
}
header a {text-decoration: none;}
header a:hover{color:red;
transition: 5ms;
font-size: inherit;}

main p{text-align: left;
font-size:24px;}
.user_number {
  display: block;
}

.header_table {
  display: block;
}

h1,h2 {text-align: center;
  margin-top: 120px;
}

